<h1>Welcome to <%= @contacts_page %></h1>
<p>Sort by:</p>
<ul>
<h2>Add a new contact: <%= @new_contact %></h2>
<h3> The last contact you viewed is: </h3>
  <li><a href="/">Go back to Main Page.</a></li>
  <!-- please complete me with links to other actions -->
</ul>