<h1><%= @crm_app_name %></h1>
<ul>
    <h1> You are a trailblazing creative.
<br>
&nbsp; &nbsp; &nbsp;You like Wes Anderson movies, that little unknown coffee shop, and a little bit of zing in your life.
<br>
You like to express your unique taste and style, even in your <i>Rolodex.</i></h1>
<button class="button">My Rolodex.</button>
    <li><a href="/contacts"></a></li>
    <!-- please complete me with links to other actions -->
</ul>