<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <header><img src="logo.jpg"></header>
  <nav>| A b o u t  CRM | I   n e e d   H e l p |  Y o u r  C R M  T e a m |</nav>
  <%= yield %>
  <section class="sociallinks"><a href="www.twitter.com/shumayelk">Twitter</a> <a href="www.github.com/shumayel">Github</a></section>
  <footer> &copy;  Shumayel Web Design Inc. 2015.</footer>
</body>
</html>